{% extends "layout.html" %}
{% block content %}
<style>
    .checkout-container {
        margin-top: 20px;
    }
    .cart-summary {
        margin-top: 20px;
    }
    .cart-summary img {
        width: 50px;
        height: 50px;
    }
    .cart-summary .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }
    .cart-summary .item img {
        margin-right: 10px;
    }
</style>
<script src="https://js.stripe.com/v3/"></script>

<div class="container checkout-container mb-5">
    <h2 class="pt-3">Checkout</h2>
    <div class="row">
        <div class="col-md-6 mt-3 mb-5">
            <h3>Order Summary</h3>
            <div class="cart-summary">
                {% for product_id, item in cart.items() %}
                <div class="item">
                    <img src="{{ url_for('static', filename='product_images/' ~ item.image) }}" alt="{{ item.title }}">
                    <div>{{ item.title }}</div>
                    <div>Color: {{ item.selected_color }}</div>
                    <div>Size: {{ item.selected_size }}</div>
                    <div>Quantity: {{ item.quantity }}</div>
                    <div>${{ item.price * item.quantity }}</div>
                </div>
                {% endfor %}
                <hr>
                <div class="total">
                    <strong>Total: ${{ total_price }}</strong>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 pb-3">
            <h3>Shipping Information</h3>
            <form id="payment-form" method="POST" action="{{ url_for('checkout') }}">
              
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.full_name.label(class="form-control-label") }}
                    {{ form.full_name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.address.label(class="form-control-label") }}
                    {{ form.address(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.city.label(class="form-control-label") }}
                    {{ form.city(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.state.label(class="form-control-label") }}
                    {{ form.state(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.phone_number.label(class="form-control-label") }}
                    {{ form.phone_number(class="form-control") }}
                </div>
                <!-- Stripe Elements Placeholder -->
                <div class="form-group">
                    <label for="card-element">Credit or Debit Card</label>
                    <div id="card-element" class="form-control">
                        <!-- a Stripe Element will be inserted here. -->
                    </div>
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <button id="checkout-button" type="submit" class="btn btn-primary">Place Order</button>
            </form>
        </div>
        
    </div>
</div>

<script>
    var stripe = Stripe('pk_test_51OPmzIDIrzfDF0fXdhgED3tWu9U7bWIMEYNLwnPUeSGX7RJRJmVMQLenpMxdlhYCh55dC8Kf5hkN7jdMBnaVy1kY00Aql99wko');
    var elements = stripe.elements();

    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    var card = elements.create('card', {style: style});
    card.mount('#card-element');

    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        form.submit();
    }
</script>

{% endblock %}
