{% extends 'layout.html' %}

{% block content %}

  <!-- Product Detail Section -->
  <div class="container product-detail mt-5 pt-5">
    <div class="row product-container">
        <div class="col-md-6">
            <img id="mainProductImage" src="{{ url_for('static', filename='product_images/' + product.image_1) }}" class="product-image" alt="Product Image">
            <div class="product-thumbnails d-flex justify-content-center mt-3">
                <img src="{{ url_for('static', filename='product_images/' + product.image_1) }}" class="selected" onclick="changeImage(this)" alt="Product Image 1">
                <img src="{{ url_for('static', filename='product_images/' + product.image_2) }}" onclick="changeImage(this)" alt="Product Image 2">
                <img src="{{ url_for('static', filename='product_images/' + product.image_3) }}" onclick="changeImage(this)" alt="Product Image 3">
            </div>
        </div>
        <div class="col-md-6 product-info">
            <h1>{{product.title}}</h1>
            <p class="price">${{product.price}}</p>
            <p class="description">{{product.description}}</p>
            <div class="add-to-cart">
              <form method="POST" action="{{ url_for('add_to_cart', product_id=product.id) }}">
                <button class="btn btn-primary">Add to Cart</button>
            </form>
            </div>
        </div>
    </div>

    <!-- Related Products Section -->
    <div class="related-products mt-5">
        <h3 class="ml-3">Related Products</h3>
        <div class="row product-container">
          {% for related_product in related_products %}
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card h-100" style="margin-bottom: -15px;">
                    <a href="{{ url_for('productDetails_page', product_id=related_product.id) }}"><img class="card-img-top" src="{{ url_for('static', filename='product_images/' + related_product.image_1) }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            {{related_product.title}}
                        </h4>
                        <small>${{related_product.price}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
  function changeImage(element) {
      document.getElementById('mainProductImage').src = element.src;
      var thumbnails = document.querySelectorAll('.product-thumbnails img');
      thumbnails.forEach(function(thumbnail) {
          thumbnail.classList.remove('selected');
      });
      element.classList.add('selected');
  }
</script>

{% endblock content %}
