<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='customer/css/styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav  class="navbar navbar-expand-lg  fixed-top" style="background-color: rgb(44, 44, 118);">
        <a style="color: rgb(224, 144, 24); font-size: 20px;" class="navbar-brand" href="{{url_for('landing_page')}}"><em>WATSON-TIME</em></a>
        
        <div class="">
            <a class="mr-4 layout-cart-icon" href="{{ url_for('cart') }}">
                <img src="{{ url_for('static', filename='customer/assets/icon/shopping_cart.png') }}" alt="Cart">
                <div class="cart-counter">
                    <p>{{ cart_counter() }}</p>
                </div>
            </a>
            
        
        <button style=" background-color: rgb(224, 144, 24); justify-content: center;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span style="margin-bottom: -5px;" class="navbar-toggler-icon"><small style="color: rgb(44, 44, 118); margin-left: -7px; font-size: 15px; margin-top: 10%;"><strong>MENU</strong></small></span>
        </button>
    </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('landing_page')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('product_page')}}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about_page')}}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('contact_page')}}">Contact</a>
                </li>
                <li class="">
                    <a class="nav-link" href="{{ url_for('cart') }}">
                        <img src="{{ url_for('static', filename='customer/assets/icon/shopping_cart.png') }}" alt="Cart">
                        <div class="cart-counter">
                            <p>{{ cart_counter() }}</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class=" mr-4 collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              {% if current_user.is_authenticated %}
              {% else %}
                
                <a class="nav-link" href="{{url_for('login_page')}}">Sign In / Sign Up</a>
              {% endif %}
            </li>
          </ul>
          {% if current_user.is_authenticated %}
          
          {% if current_user.is_admin %}
          <a class="nav-link " href="{{url_for('dashboard_page')}}"><img style="width: 3rem; height: 3rem; border-radius: 100%;" src="{{image_file}}" alt=""></a>
          {% else %}
          <a class="nav-link " href="{{url_for('profile_page')}}"><img style="width: 3rem; height: 3rem; border-radius: 100%;" src="{{image_file}}" alt=""></a>
        {% endif %}
          
        </div>
        {% else %}
        {% endif %}
    </nav>

   {% block content %}
   {% endblock content %}
    
    <!-- Footer -->
    <footer style="background-color: rgb(44, 44, 118); color: antiquewhite;" class="text-center py-4">
        <p>&copy; 2024 New-Watson. All Rights Reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
