{% extends 'admin_layout.html' %}

{% block content %}

<!-- MAIN -->
<main>
    <div style="display: flex; justify-content: center;">
        {% include 'admin/msgFlash.html' %}
    </div>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
        </div>
    </div>

    <ul class="box-info">
        <li>
            <i class='bx bxs-calendar-check' ></i>
            <span class="text">
                <h3>{{total_orders}}</h3>
                <p>New Order</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-group' ></i>
            <span class="text">
                <h3>{{total_customers}}</h3>
                <p>Customers</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-dollar-circle' ></i>
            <span class="text">
                <h3>${{total_cost}}</h3>
                <p>Total Sales</p>
            </span>
        </li>
    </ul>


    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Recent Orders</h3>
                <i class='bx bx-search' ></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Order Date</th>
                        <th>Order Time</th>
                        <th>Status</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders%}
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename='customer/assets/profile_pics/' + order.customer.image_file) }}">
                        <small>{{order.customer.username}}</small>
                        </td>
                        <td><small>{{order.timestamp.strftime('%d-%m-%Y')}}</small></td>
                        <td><small>{{order.timestamp.strftime('%H:%M:%S')}}</small></td>
                        <td><small>{{order.status}}</small></td>
                        <td><small>${{ order.total_price() | round(2) }}</small></td>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="order">
            <div class="head">
                <h3>Customers</h3>
                <i class='bx bx-search' ></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Birth Date</th>
                        <th>Date Joined</th>
                        <th>Email</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td>
                            <img src="{{url_for('static', filename='customer/assets/profile_pics/' + customer.image_file)}}">
                            <p>{{customer.username}}</p>
                        </td>
                        <td><small>{{customer.date_of_birth}}</small></td>
                        <td><small>{{customer.date_created.strftime('%H:%M:%S')}}</small></td>
                        <td><small>{{customer.email}}</small></td>
                        <td><small>{{customer.gender}}</small></td>
                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        
    </div>
</main>
<!-- MAIN -->

{% endblock %}